@import 'resources/styles/variables.scss';

body {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 2rem;
}

.page-wrapper {
  padding: 0 16px;
  max-width: 1000px;
  margin: auto;
}

ul {
  margin: 0;
}

code {
  background-color: $color-grey;
  padding: 8px;
  color: $color-pink;
}
